.hp-tracker {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .player-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: flex-start;
        gap: 14px;
        border-bottom: 1px solid white;
        padding: 8px 8px 1px;

        .player-name {
            cursor: pointer;

            &:hover {
                font-weight: 600;
            }
        }

        .current-hp {
            display: flex;
            gap: 5px;
        }

        .armor-class {
            display: flex;
            gap: 5px;
        }

        .armor-class-special {
            justify-self: flex-end;
        }

        input[type="number"] {
            border: none;
            display: flex;
            background-color: transparent;
            width: 40px;
            color: rgba(255, 255, 255, 0.87);
            font-size: 1em;

            &:disabled {
                width: 40px;
            }
        }
    }
}
